#left-eye {
  transform: translateX(0);
  animation: eye-move 1s linear infinite alternate;
}

#right-eye {
  transform: translateX(0);
  animation: eye-move 1s linear infinite alternate;
}

@keyframes eye-move {
  0% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(10px);
  }
}

#left-ear {
  transform: translateY(0);
  transform-origin: 46px 58px;
  transition: all 500ms linear;
}

#face:hover #left-ear {
  transform: translateY(-10px);
}

#right-ear {
  transform: translateY(0);
  transform-origin: 4210px 58px;
  transition: all 500ms linear;
}

#face:hover #right-ear {
  transform: translateY(-10px);
}
